@font-face {
  font-family: 'FuturaMediumC';
  src: url('FuturaMediumC.woff') format('woff'),
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baskerville Cyrillic LT Std';
  src: url('BaskervilleCyrLTStd-Upright.eot');
  src: url('BaskervilleCyrLTStd-Upright.eot?#iefix') format('embedded-opentype'),url(BaskervilleCyrLTStd-Upright.woff) format('woff'),url(BaskervilleCyrLTStd-Upright.ttf) format('truetype'),url(BaskervilleCyrLTStd-Upright.svg#BaskervilleCyrLTStd-Upright) format('svg');
  font-weight: 400;
  font-style: normal;
}
body{
  font: 400 14px/16px 'FuturaMediumC', 'Arial', sans-serif;
}
main { /*чтобы скрол убрался, relative обязательно!*/
  position: relative;
  overflow: hidden;
}
.content{
  margin: 0 auto;
  width: 1200px;
}
.topLine{
  background: #efefef;
  height: 25px;
  padding: 5px;
  font-weight: bold;
}
.topLine::after{ /*чтобы float имел высоту*/
  content: '';
  display: table;
  width: 100%;
}
.topLine div{
  float: left;
}
.topLine ul{
  float: right;
  padding: 0;
  margin: 0;
}
.topLine li{
  float: left;
  list-style: none;
}
.topLine li + li{
  margin-left: 40px;
}
.logoBlock {
  color: black;
}
.logoBlock .left{
  float: left;
}
.logoBlock .center{
  height: 100px;
  text-align: center;
}
.logoBlock .right{
  float: right;
}
.logoBlock a{
  font-size: 0;
}
.menu{
  background: #1a1a1a;
  color:#fff;
}
.menu ul{
  text-align: center;
  margin: 0;
  padding: 0;
}
.menu li{
  display: inline-block;
}
.menu li + li {
  margin-left: 50px;
}
.menu a{
  color: #fff;
  text-decoration: none;
  text-transform: uppercase; /*преобразовать в верхний регистр*/
  letter-spacing: 3px;
  padding: 4px 0;
}
.grid > div{ /**/
  float: left;
  text-align: center;
  height: 390px;
  background: white;
  width: 100%;
  margin-top: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.grid{
  margin-right: -30px;
}
.grid > div div{
  height: 390px;
}
.grid > div:nth-child(1){
  width: 100%;
}
.grid > div:nth-child(1) div{
  background: #9e7171;
}
.grid > div:nth-child(2){
  width: 40%;
}
.grid > div:nth-child(2) div{
  background: beige;
}
.grid > div:nth-child(3){
  width: 60%;
}
.grid > div:nth-child(3) div{
  background: bisque;
}
.grid > div:nth-child(4){
  width: 60%;
}
.grid > div:nth-child(4) div{
  background: aliceblue;
}
.grid > div:nth-child(5){
  width: 40%;
}
.grid > div:nth-child(5) div{
  background: #e9eeff;
}

/*Карточка товара*/

.breadCrumbs ul{
  padding: 10px 0;
}

.breadCrumbs li{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}
.breadCrumbs a{
  text-decoration: none;
}
.breadCrumbs a:active{
  text-decoration: underline;;
}
.product{
  height: 850px;
}
.productMin{
  width: 90px;
  height: 790px;
  float: left;
  margin-right: 35px;
}
.productMin div{
  float: left;
  width: 90px;
  height: 120px;
  margin-bottom: 35px;
}
.productMin div:nth-child(1){
  background: #d0aaaa;
}
.productMin div:nth-child(2){
  background: #d0aaaa;
}
.productMin div:nth-child(3){
  background: #d0aaaa;
}
.productMin div:nth-child(4){
  background: #d0aaaa;
}
.productMain{
  width: 580px;
  height: 790px;
  float: left;
  margin-right: 35px;
}
.productMain div{
  width: 580px;
  height: 790px;
  background: #ffdada;
}
.productInfo{
  width: 460px;
  height: 790px;
  background: #fbc4c4;
  float: left;
}
.productInfo h1{
  font-size: 42px;
  line-height: 1;
  margin: 0;
  text-align: center;
}
.productPrice h1{
  font-size: 42px;
  line-height: 1;
  margin: 50px 0 20px;
  text-align: center;
}
.productBuy{
  height: 35px;
  text-align: center;
  margin-bottom: 40px;
  padding: 0 90px;
}
.productCount{
  width: 45px;
  height: 35px;
  border: 1px solid black;
  float: left;
}
.productBuyBtn{
  width: 215px;
  height: 35px;
  color: white;
  background: black;
}
.productLike{
  height: 90px;
  text-align: center;
}
.productLike .like{
  width: 100%;
}
.productSocial{
  height: 75px;
  text-align: center;
  padding: 0 150px;
}
.productSocial div{
  float: left;
  margin-right: 30px;
}
.productDescription h3{
    text-transform: uppercase;
}
.productDescription a{
  float: left;
  text-decoration: none;
  font-size: 20px;
    margin: 7px;
}
.alsoLike{
  height: 512px;
  text-align: center;
}
.alsoLike .text{
  width: 100%;
  border: 0;
  text-transform: uppercase;
  margin: 30px 0;
}
.alsoLike .productAlsoLike{
  width: 210px;
  background: #9d6ec1;
  margin-right: 35px;
  float: left;
}

.alsoLike img{
  width: 185px;
  height: 275px;
  background: #d4c2e4;
  margin: 15px 10px;

}
.alsoLike .like{
  width: 20px;
  height: 15px;
  float: left;
}
.alsoBuy{
  height: 270px;
}
.productAlsoPrice{
  height: 15px;
}
.productPhotoItem{
  width: 215px;
  height: 215px;
  float: left;
  margin: 30px 35px 30px 0;
  background: #e0d8f9;
}
.followUs{
  width: 448px;
  height: 210px;
  border: 1px solid gray;
  margin: 30px 0;
  float: right;
  text-align: center;
}
.followUs h1{
  font-size: 30px;
  line-height: 1;
}
.footerTop{
  height: 120px;
}
footer h2{
  color: rgb(136, 134, 131);
  text-transform: uppercase;
  text-align: center;
  margin: 30px 0;
}
footer li{
  display: inline-block;
  margin-right: 100px;
  text-transform: uppercase;

}
footer a{
  text-decoration: none;
}
.footerNav{
  background: #1a1a1a;
  color: #fff;
  height: 30px;
}
.footerNav ul{
  margin: 0;
  padding: 0;
  text-align: center;
}
.footerNav a{
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px 0;
}
.footerBottom {
  height: 35px;
  color: rgb(136, 134, 131);
  margin: 0 auto;
}
.footerBottom div{
  display: inline;

}
